body {
  font-family: Futura ;
  background-color: #FFCC66;
  text-align: center;
  margin :auto;
}
#map {
  width: 40em;
  height: 30em;
  margin:auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

svg {
  position: relative;
}

.travelMarker {
  fill: yellow;
  opacity: 0.75;
}

.waypoints {
  fill: black;
  opacity: 0;
}

.lineConnect {
fill: none;
stroke: black;
opacity: 1;
}
